.button {
  height: 40px;
  color: white;
  background-color: var(--verde-800);
  width: 50px;
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  &:active {
    filter: brightness(0.8);
  }
}
