.card {
  display: flex;
  max-width: 100%;
  width: 100%;
  background-color: var(--branco-0);
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  box-shadow: 1px 1px 5px black;
  img {
    width: 100%;
  }
  > p {
    color: black;
    width: 100%;
    text-align: start;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;

    &:nth-child(2) {
      font-size: 0.9rem;
      margin: 0.5rem 0;
      height: 2rem;
      line-height: 1rem;
    }
    &:nth-child(3) {
      color: var(--vermelho-600);
      font-weight: bold;
    }
  }
  button {
    &:nth-child(6) {
      background-color: var(--vermelho-600);
      border: none;
      margin-top: 0.5rem;
      color: var(--branco-0);
      font-weight: bold;
      font-size: 0.8rem;
      border-radius: 0.2rem;
      padding: 0.3rem 0;
      @media (min-width: 500px) {
        font-size: 1rem;
      }
      &:active {
        filter: brightness(0.8);
      }
    }
  }
}
.toggleGrid {
  > p {
    font-size: 1.2rem !important;
  }
  button {
    font-size: 1rem !important;
    word-break: keep-all;
  }
}
