:root {
  --verde-800: #0fa84a;
  --verde-700: #47ff8e;
  --verde-600: hsl(143, 91%, 57%);
  --vermelho-900: #a80900;
  --vermelho-600: #f5362c;
  --cinza-1500: #333333;
  --cinza-1200: #686868;
  --cinza-1050:#cccccc;
  --cinza-1000:#d7ecdf;
  --cinza-800: #ebebeb;
  --branco-0: white;
  --preto-0: black;
  --preto-1000:rgba(0, 0, 0, 0.103);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  @media (min-width: 500px) {
    font-size: 16px;
  }
  @media(min-width:2300px){
    font-size: 30px;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 900px) {
    background-image: url(./images/imgBack.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: #cccccc;
  }
}
input {
  cursor: pointer;
}
