:root {
  --verde-800: #0fa84a;
  --verde-700: #47ff8e;
  --verde-600: hsl(143, 91%, 57%);
  --vermelho-900: #a80900;
  --vermelho-600: #f5362c;
  --cinza-1500: #333333;
  --cinza-1200: #686868;
  --cinza-800: #ebebeb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}

#root{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
input {
  cursor: pointer;
}
